body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 83, 83);
}
.main{
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 1rem;
    height: 50vh;
    width: 900px;
    background-color: rgb(121, 168, 175);
    
}
.question {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 0px;

}
.options{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 1rem;
}
.submit{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
button{
    border-radius: 2rem;
    background-color: cyan;
    width: 200px;
}
button:hover{
    background-color: rgb(72, 193, 98);
    transition: 0.5s;
}
.score{
    font-size: 30px;
    display: flex;
    justify-content: center;
    /* margin-top: 40px; */
}
.selected {
    background-color: #4CAF50;
    color: white;
}
